.projects {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem;
  background-color: var(--light-gray);
  border-radius: 8px;
}

.projects > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  width: 100%;
  list-style: none;
}

.projects li {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.projects li:hover {
  transform: translateY(-5px);
}

.projects img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}
